opencv-python>=4.9.0.80
torch
diffusers
transformers
tokenizers
accelerate
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
scikit-image   
loguru
gradio>=5.0.0
numpy>=1.23.5,<2
xfuser>=0.4.1
pyloudnorm
optimum-quanto==0.2.6
scenedetect
moviepy==1.0.3
decord
