pydantic >= 2.0.0
inferencesh
kokoro>=0.8.2
soundfile
pydub
misaki[en]
misaki[ja]
misaki[zh]
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl