pydantic >= 2.0.0 # required for inference.sh
inferencesh # required for inference.sh
torch==2.9.1
accelerate
git+https://github.com/huggingface/diffusers.git@7feb4fc791909f4a58b153d6d07c6cb8437b2e58
transformers==4.57.5
tokenizers==0.22.2
av
