pydantic >= 2.0.0 # required for inference.sh
inferencesh==0.2.7
torch
torchvision
omegaconf
gguf>=0.13.0
tqdm
git+https://github.com/calcuis/diffusers.git
transformers
huggingface_hub
accelerate
sentencepiece
protobuf
Pillow
einops
accelerate
python-dateutil
peft
hf_transfer