pydantic >= 2.0.0
# inferencesh >= 0.4.20
# -e /home/ubuntu/inference/sdk-python
git+https://github.com/inference-sh/sdk-python.git@8a2e5bae91d78473446f775fc99098e5cb8c892c #multi-image
openai >= 1.0.0