pydantic >= 2.0.0
inferencesh
torch>=2.1.0
diffusers>=0.28.2
transformers>=4.47.2
sentencepiece>=0.1.96
huggingface-hub~=0.25.2
einops
timm
accelerate
matplotlib
imageio[ffmpeg]
av
opencv-python
pillow
numpy