# --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
pydantic >= 2.0.0
inferencesh == 0.2.13

huggingface_hub
hf-transfer
pillow

git+https://github.com/inference-sh/llama-cpp-python.git@22286bfda29cbb84c9e732697178bca0013aa1f1