pydantic==2.10.6
inferencesh==0.2.7
torch>=2.7.0
torchvision>=0.19.0
torchaudio
opencv-python>=4.9.0.80
diffusers==0.31.0
transformers==4.49.0
tokenizers<0.22.0
accelerate==1.8.1
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
numpy>=1.23.5,<2
einops
moviepy==1.0.3
mmgp==3.4.1
peft==0.14.0
safetensors
huggingface_hub
decord
rembg[gpu]==2.0.65
onnxruntime-gpu
matplotlib
timm
segment-anything
omegaconf
hydra-core
mutagen
gradio
