pydantic >= 2.0.0 # required for inference.sh
inferencesh # required for inference.sh

# InfiniteTalk dependencies (merged from InfiniteTalk/requirements.txt)
torch
torchvision
torchaudio
opencv-python>=4.9.0.80
diffusers
transformers
tokenizers
accelerate
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
scikit-image==0.21.0   
loguru
numpy>=1.23.5,<2
xfuser>=0.4.1
pyloudnorm
optimum-quanto==0.2.6
scenedetect
moviepy==1.0.3
decord
Pillow
einops
librosa
soundfile
xformers
misaki[en]
huggingface_hub
hf_xet
# hf_transfer

https://github.com/mjun0812/flash-attention-prebuild-wheels/releases/download/v0.4.17/flash_attn-2.8.3+cu128torch2.9-cp311-cp311-linux_x86_64.whl