pydantic >= 2.0.0 # required for inference.sh
inferencesh # required for inference.sh
accelerate
# Core ML dependencies
torch>=2.7.0
torchvision>=0.20.0
transformers==4.46.3
tokenizers==0.20.3
hf_transfer

Pillow
# Additional dependencies
einops
addict
easydict

# Flash attention wheel
https://github.com/mjun0812/flash-attention-prebuild-wheels/releases/download/v0.4.17/flash_attn-2.8.3+cu128torch2.9-cp311-cp311-linux_x86_64.whl