# --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
pydantic >= 2.0.0
# inferencesh >= 0.2.32
huggingface_hub
hf-transfer
pillow

git+https://github.com/inference-sh/sdk-python.git@9203a908fc102e6a42d726579bfcbfa894ac3fcd
git+https://github.com/inference-sh/llama-cpp-python.git@ec8e0221ec7dd8dc659606ce8615dc010b5faf76