pydantic >= 2.0.0
git+https://github.com/inference-sh/sdk-python.git@d82b6b5e070a84c8e22d9dc3fd1a9a3b84efb60a
huggingface_hub
hf-transfer
pillow

git+https://github.com/inference-sh/llama-cpp-python.git@4dbb8f90417142f14fd908f3a5fc44269e868449