pydantic >= 2.0.0

# -e /home/ubuntu/inference/sdk-python
git+https://github.com/inference-sh/sdk-python.git@7be830e8c04baf034c5d57887091f3474e67b066
huggingface_hub
hf-transfer
pillow

# git+https://github.com/inference-sh/llama-cpp-python.git@066638c36ea0ac10a14b9f1a149d874efdf0c151 #stable
# git+https://github.com/inference-sh/llama-cpp-python.git@389cd510df1aea8b61fcb77e4b10fa49ebc92d92 #multi-tool
# git+https://github.com/inference-sh/llama-cpp-python.git@ed2de13af539f6ab48918cb99c56b114e9687a48 #single-tool
git+https://github.com/inference-sh/llama-cpp-python.git@8dcdbd28aff164d31eadfd31e2b38bbcd150feb5 #debug-template


# -e /home/ubuntu/llama-cpp-python